<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Regression test suite" verbose="1" parallel="false">
    <!--    <listeners>-->
    <!--        <listener class-name=""/>-->
    <!--    </listeners>-->
    <test name="Calculator Test">
        <!--<classes>-->
            <!--<class name="com.lits.makukh.AppTest1sd" />-->
        <!--</classes>-->

        <packages>
            <package name = "com.lits.makukh.calculator"></package>
        </packages>
    </test>
    <test name="App Test">
         <packages>
            <package name = "com.lits.makukh.app"></package>
        </packages>
    </test>

</suite>
